@angle:-50deg;
@bgcolor:red;

div.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 150px;
    background-color: grey;
    text-align: center;
    font-size: 50px;
}

.menu {
    counter-reset: item;
}

.bullet{
    position:absolute;
    transfrom : translateX(10px);
    transition: transform 1s;
}

.bullet.open3{
  animation-name: goToTop;
  animation-duration:1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.bullet.float{
  animation-name: itemfloat;
  animation-duration:1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

@keyframes itemfloat{
   from{ transform : translate(57px,-75px)}
   to{ transform : translate(110px,0px)}
}


@keyframes goToTop{
   from{ transfrom : translateX(10px)}
   to{ transform : translate(57px,-75px)}
}

.realMenu {
        background-color: @bgcolor;
        width: 95px;
        position: absolute;
        color: contrast((@bgcolor));
        transform-origin: 0 10px;
        transform: rotate(0deg);
        transition: transform 1s;
    }

.realMenu.open2{
        transform-origin: 0 10px;
        transform: rotate(@angle);
        transition: transform 1s;
    }

//generate gradient color for the menu
.loop(@counter, @position, @positionIncrement) when (@counter <6) {
    .loop(@counter + 1, @position + @positionIncrement, @positionIncrement);
    .menu .item:nth-child(@{counter}) {
        position: absolute;
        transform: translateX(0px);
        text-align: right;
        transition: transform 1s;
    }
    .menu.open .item:nth-child(@{counter}) {
        transform: translateX(@position);
        transition: transform 1s;
    }
}

.content {
    .menu {
        position: relative;
    }
    .loop(0,0px,100px);
}
