
h1
{
	color:#210B61;
	font-size:3em;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-weight:bold;
	background-image:linear-gradient(to right,#2E9AFE,#D4E6F1);
}


body{
	background-color:#D4E6F1;
}

button
{
	background-color:#AED6F1;
	padding:20px;
	float:right;
	width:100px;
}

nav
{
	font-weight:bold;
	border: 2px solid #ccc;
	background-color:#AED6F1;
	padding:5px;
	text-align:center;
	display:flex;
	justify-content: space-around;
	line-height: 200%;

}
nav a
{
    text-decoration:none;
}

img{
	width:100%;
	height:400px;
}
nav a:link
{
    color:blue;
}
nav a:visited
{
    color:black;
}
nav a:hover
{
    color:white;
		background-color:black;
		font-size:1.3em;
		padding:1px;
}

p{
	background-image: linear-gradient(to right,#AED6F1,#00BFFF);
	color:#29088A;
	font-size: 1.2em;
}

.input{
	display:block;
	clear:right;
	}

	div{
		.button{
			float:left;
		}
	}

	.button{
		background-color:#AED6F1;
		padding:20px;
		width:200px;
	}

	input{
		padding-left: 50px;
	}

	form {
		background-color: #eaeaea;
	 	font-family: Arial, sans-serif;
	  padding: 10px;
	}

	label {
		float: left;
		width: 150px;
		clear: left;
		text-align: right;
    padding-right: 10px;
	  margin-top: 10px;
	}

 input {
	 margin-top: 10px;
  }

	table {
			margin: auto;
			margin-top:100px;
	}

	table, td, th {
	    border: 1px solid black;
	}

h3{
	margin-left: 50px;
	margin-right: 50px;
}
