﻿h1	
{
	color:#2874A6;
	font-size:3em;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

h2{
	text-align:center;
}

body{
	background-color:#D4E6F1;
}

button
{
	background-color:#AED6F1;
	padding:20px;
	float:right;
	width:100px;
}

nav
{
	font-weight:bold;
	border: 2px solid #ccc;
	background-color:#AED6F1;
	padding:5px;
	text-align:center;
}
nav a
{
    text-decoration:none;
}

img{
	width:100%;
	height:400px;
}
nav a:link
{
    color:blue;
}
nav a:visited
{
    color:black;
}
nav a:hover
{
    color:white;
	background-color:black;
}