﻿body
{
	background-color:#F7DC6F;
	color:#D5E3FF;
	font-family:verdana,arial,sans-serif;
}

button
{
	background-color:#F7DC6F;
	padding:20px;
}

header
{
	background-color:#784212;
	color:#FFFFFF;
	font-family:serif;
    background-position:center;
    background-repeat:no-repeat;
}
h1
{
	color:white;
	text-align:left;
	line-height:313%;
	font-size:3em;
	text-align:center;
}

nav
{
	font-weight:bold;
	border: 2px solid #ccc;
	background-color:#784212;
	padding:5px;
	text-align:center;
}
nav a
{
    text-decoration:none;
}
nav a:link
{
    color:#FFFFFF;
}
nav a:visited
{
    color:#CCCCCC;
}
nav a:hover
{
    color:#FFFF00;
}


.style
{
	font-weight:bold;
	background-color:#FFFFFF;
	color:#784212;
	font-size:1.1em;
    text-shadow:1px 1px 1px #667;
}
footer
{
	font-size:0.70em;
	font-style:italic;
    padding:10px;
    text-align:center;
	clear: right;
}
.wrapper
{
	margin-right:auto;
	margin-left:auto;
	width:80%;
    min-width:700px;
    max-width:1024px;
    background: rgba(255, 255, 255, 0.8);
    color:#000066;
}

img {
	margin-top:20px;
}

main
{
    margin-left:50px;
	margin-right:50px;
    padding-right:20px;
    padding-bottom:20px;
}
header, nav, main, footer {
display:block;}

p{
padding:10px;}

a{
	text-decoration:none;
}

table {
    border:2px solid #993366;
    border-collapse:collapse;
}
td, th { padding: 0.5em;
		 border: 1px solid #993366;
}
