
body {
	margin: 0 auto;
}
.header {
	width: 90%;
	float: left;
	h1 {
		text-align: center;
	}
}
hr {
	margin: 0 auto;
	width: 90%;
}
.container {
	width: 90%;
	margin: 0 auto;
	float: left;
}
.left-container {
	width: 32%;
	float: left;
}
.center-container {
	width: 32%;
	float: left;
}
.right-container {
	width: 32%;
	float: left;
}
.main {
	width: 90%;
	float: right;
	.main-right {
		width: 50%;
		float: right;
	}
}
