@color_1: #fff;
@color_2: blue;
@font_family_1: Georgia;
@background_color_1: red;

body {
	margin: 0 auto;
}
.header {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 30px;
	h1 {
		text-align: center;
	}
}
.container {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
.cont {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}
form {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
input {
	margin: 12px;
	padding: 10px;
	width: 50%;
	border-radius: 30px;
}
textarea {
	margin: 12px;
	padding: 10px;
	width: 50%;
	border-radius: 30px;
}
input[type=button] {
	background-color: @background_color_1;
	border: 2px solid red;
	width: 50%;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	color: @color_1;
	cursor: pointer;
}
.item {
	color: @color_2;
	font-family: @font_family_1;
	text-decoration: underline;
	cursor: pointer;
}
