body{
    width: 90%;
    margin: 0 auto;
  }
  .header{
    float: left;
    width: 100%;
    background-color: #D880D8;
  }
  .header h1{
    text-align: center;
    color: #fff;
    display: inline-block;
  }
  .header img{
    display: inline-block;
    vertical-align: top;
  }
  .container{
    width: 100%;
    float: left;
    background-color: #C2CD63;
  }
  .container h3{
    /*text-align: center;*/
  }
  .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 20%;
      margin: 0 auto;
      text-align: center;
      display: inline-block;
      margin-left: 3em;
      margin-bottom: 12px;
  }
  .card img{
    width: 100%;
  }
  .cont {
      padding: 2px 8px;
  }
  .cont h2{
    color: #b332b3;
  }
  .cont h2,h4{
    text-align: left;
  }
  .link-btn{
    background-color: #b332b3;
    width: 50%;
    float: left;
    border: 1px solid;
    padding: 7px 12px;
    margin-bottom: 4px;
    cursor: pointer;
    color: #ffffffd9;
  }

 .right{
   float:right;
 }
