.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: cards; }
.item4
{ grid-area: table;}



.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu cards cards cards cards cards '
    'menu cards cards cards cards cards '
    'menu table table table table table'
    'menu table table table table table';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

h1{
  text-align: center;
  background-color: purple;
}

body{
  background-color: blue;
}

table {
    border-collapse: collapse;
    width:100%;
}

table, td, tr {
    border: 1px solid black;
}

th{
  background-color: purple;
  border: 1.5px solid black;
}

.scroll{
  overflow-y:scroll;
  height:200px;

}

.container{
   width: 100%;
   float: left;
 }

.card {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     width: 14%;
     margin: 0 auto;
     text-align: center;
     display: inline-block;
     margin-left: 1em;
     margin-bottom: 12px;
 }

.cont {
     padding: 2px 8px;
 }
 .cont h2{
   color: #b332b3;
   font-size: 80%;
 }
 .cont h2,h4{
   text-align: left;
 }
