<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>CPSC 2030: Week 7, the grind continues</title>
</head>
<body>
  <div class="container">
 {%for pokemon in allpokemon%}
    <div class="card">
       <div class="cont">
          <h2>Name:{{pokemon["name"]}}</h2>
          <h4>Pokemon Type:{{pokemon["type"]}}</h4>
          <h4>Pokemon number:{{pokemon["Nat"]}}</h4>
          <a href="index.php"><button type="button" class="link-btn">close</button></a>
       </div>
     </div>
  {% endfor %}
  </div>
</body>
</html>
