<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <h2>Popular Pokemons</h2>
  {% for name in pokemon %}
    <a href="page2.php?pokemon={{name.name | url_encode}}">{{name["name"] | upper}}</a><br><br>
  {% endfor %}
</body>
</html>
