<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>CPSC 2030: Week 7, the grind continues</title>
</head>
<body>
  <h2> Pokemon Table </h2>
  <div class="scroll">
    <table>
      <tr><th>Nat</th><th>Type</th><th>Name</th></tr>
      {% for pokemon in allpokemon %}
      <tr><td>{{pokemon.Nat}}</td><td>{{pokemon.type}}</td><td><a href="index.php?name={{pokemon.name | url_encode}}">{{pokemon.name}}</a></td></tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
