@angle:50deg;
@bgcolor:blue;

h1
{
	color:#210B61;
	font-size:3em;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-weight:bold;
	background-image:linear-gradient(to right,#2E9AFE,#D4E6F1);
}

h2
{
	color:#210B61;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-weight:bold;
	background-image:linear-gradient(to left,#2E9AFE,#D4E6F1);
}

body{
	background-color:#D4E6F1;
}

button
{
	background-color:#AED6F1;
	padding:20px;
	float:right;
	width:100px;
}

nav
{
	font-weight:bold;
	border: 2px solid #ccc;
	background-color:#AED6F1;
	padding:5px;
	line-height: 200%;

}
nav a
{
    text-decoration:none;
}

img{
	width:100%;
	height:400px;
}
nav a:link
{
    color:blue;
}
nav a:visited
{
    color:black;
}
nav a:hover
{
    color:white;
		background-color:black;
		font-size:1.3em;
		padding:1px;
}

p{
	background-image: linear-gradient(to right,#AED6F1,#00BFFF);
	color:#29088A;
	font-size: 1.2em;
}

.input{
	display:block;
	clear:right;
	}

	div{
		.button{
			float:left;
		}
	}

	.button{
		background-color:#AED6F1;
		padding:20px;
		width:200px;
	}

	input{
		padding-left: 50px;
	}

	form {
		background-color: #eaeaea;
	 	font-family: Arial, sans-serif;
	  padding: 10px;
	}

	label {
		float: left;
		width: 150px;
		clear: left;
		text-align: right;
    padding-right: 10px;
	  margin-top: 10px;
	}

 input {
	 margin-top: 10px;
  }

	table {
			margin-left:50px;
			margin-right:50px;
			margin-top:150px;
	}

	table, td, th {
	    border: 1px solid black;
	}
	td{
		width:500px;
	}

h3{
	margin-left: 50px;
	margin-right: 50px;
}

.prod {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 15%;
		height : 20%;
		margin: 0 auto;
		text-align: center;
		display: inline-block;
		margin-left: 3em;
		margin-bottom: 12px;
}

.prod img{
	height:155px;
	width:165px;
}

.prod img:hover{
	height:165px;
	width:175px;
}

@keyframes goToTop{
   from{ transfrom : translateX(10px)}
   to{ transform : translate(57px,-75px)}
}

.realMenu {
        background-color: @bgcolor;
        width: 150px;
        position: absolute;
        color: contrast((@bgcolor));
        transform-origin: 0 10px;
        transform: rotate(0deg);
        transition: transform 1s;
    }

.realMenu.open2{
        transform-origin: 0 10px;
        transform: rotate(@angle);
        transition: transform 1s;
    }

//generate gradient color for the menu
.loop(@counter, @position, @positionIncrement) when (@counter <6) {
    .loop(@counter + 1, @position + @positionIncrement, @positionIncrement);
    .menu .item:nth-child(@{counter}) {
        position: absolute;
        transform: translateX(0px);
        text-align: right;
        transition: transform 1s;
    }
    .menu.open .item:nth-child(@{counter}) {
        transform: translateX(@position);
        transition: transform 1s;
    }
}

.content {
    .menu {
        position: relative;
    }
    .loop(0,0px,200px);
}

.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 25%;
		margin: 0 auto;
		text-align: center;
		display: inline-block;
		margin-left: 3em;
		margin-bottom: 12px;
}
.card img{
	width: 100%;
}
.cont {
		padding: 2px 8px;
}
.link-btn{
	background-color: #b332b3;
	width: 50%;
	float: left;
	border: 1px solid;
	padding: 7px 12px;
	margin-bottom: 4px;
	cursor: pointer;
	color: #ffffffd9;
}

.information{
	width:80%;
	height:200px;
	border:2px solid black;
	border-radius: 25px;
}

@media only screen and (max-width : 814px){
	.prod img{
		height:100px;
		width:95px;
	}

	.prod img:hover{
		height:120px;
		width:100px;
	}

	.information{
		height:150px;
	}

}
