@conatinerbackground:#7D3C98;    //color for container
@topItem:#8A0886;        //color for top menu
@barWideColor:#298A08;    //color for bar graph for wide layout
@barNarrowColor:red;      //color for bar graph for narrow layout
.title{
  background-image: linear-gradient(to right,#6C3483,#BB8FCE);
  font-size:3em;
  line-height: 200%;
  text-align:center;
}

.top{
  background-color: #4A235A;
  display:flex;
  justify-content:space-around;
  text-align: center;
  color:white;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 25px;
}

.top{
    .item{
      display:inline;
  }
}

.top {
	.item {
		&:nth-child(1) {
			background-color: #8E44AD;
		}
		&:nth-child(2) {
			background-color: #A901DB;
		}
		&:nth-child(3) {
			background-color:#F781F3;
		}
		&:nth-child(4) {
			background-color: @topItem;
		}
		&:nth-child(5) {
			background-color: #DF01D7;
		}
		&:nth-child(6) {
			background-color: #FF00FF;
		}
		&:nth-child(7) {
			background-color: @topItem;
		}
	}
}

.subItem{
  display:none;
}

.container{
  background-color: @conatinerbackground;
  height:410px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.flexbottom
{
  background-color: #FE2EF7;
  display: flex;
  flex-direction: row;
  width: 60%;
  flex-wrap: wrap;
  float:right;
}

.mon{
    width:18%;
    margin:1px;
    border-radius:10px;
}

.mon{
  &:nth-child(odd){background-image: linear-gradient(to right,#4A235A,#8E44AD);}
  &:nth-child(even){background-image: linear-gradient(to right,#8E44AD,#4A235A);}
}

h2{
  margin-right: 70%;
  display:inline-block;
}

.sidebar{
    padding:25px;
    width: 100px;
}

.bargraph{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(100, 1fr);         //height of bar graph is a column layout
    grid-column-gap:22%;
    width: 50%;
    height: 30%;
    float:right;
    padding-top: 30px;
    margin-right: 50px;
}

.bar1{
      border-radius: 5px 5px 0 0;
      background-color: @barWideColor;
      grid-row-start: 20;                    // incresing or decreasing bar graph size
      grid-row-end: 100;
      float:left;
}
.bar2{
    border-radius: 5px 5px 0 0;
    background-color: @barWideColor;
    grid-row-start: 50;
    grid-row-end: 100;
}
.bar3{
    border-radius: 5px 5px 0 0;
    background-color: @barWideColor;
    grid-row-start: 1;
    grid-row-end: 100;
}
.bar4{
    border-radius: 5px 5px 0 0;
    background-color: @barWideColor;
    grid-row-start: 70;
    grid-row-end: 100;
}

.mon{
   div{
     &:first-child{font-weight:bold;}
   }
}

.item
{
  &:hover{
     .subItem{
    	display: block;
    	padding-left: 30px;
    	font-weight: bold;
    }
  }
}

.sidebar {
    .item
    {
      &:hover{
        font-weight:bold;
      }
  }
}

.subItem
{
  &:hover{
    color:@barNarrowColor;
  }
}

.top .item:hover{
  background-color: #F6CEF5;
}

@media only screen and (max-width: 814px){
  body{
  	background-color: @conatinerbackground;
  }

  .sidebar{display:none;}
  .title{
  	text-align: center;
  	padding: 9px;
  	font-size: 27px;
  	font-family: Georgia;
  }
  .menu{
    display:block;
  	width: 100%;
  	margin: 0 auto;
  	background-color:#7D3C98;
  	color: #fff;
  }
  .menu {
  	.item {
  		display: block;
  		background-color: @conatinerbackground;
  		text-align: left;
  	}
  }

  .menu {
  	.item {
  		&:nth-child(even) {
  			background-color:#BB8FCE ;
  		}
  		&:nth-child(odd) {
  			background-color: @conatinerbackground;
  		}
  		&:hover{
  			background-color:#F6CEF5;
  		}
  	}
  }

  .container{
  	width: 100%;
  	background-color:@conatinerbackground;
  }


  .bargraph{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin-left: 0px;
    display:block;
    height:150px
  }
  .bar1{
    border-radius:0;
    background-color: @barNarrowColor;
    height:15px;
    width:300px;
    margin-top: 20px;

  }
  .bar2{
    border-radius:0;
    background-color: @barNarrowColor;
    height:15px;
    width:250px;
    margin-top: 50px;
  }
  .bar3{
    border-radius:0;
    background-color: @barNarrowColor;
    height:15px;
    width:320px;
    margin-top: 20px;
  }
  .bar4{
    border-radius:0;
    background-color: @barNarrowColor;
    height:15px;
    width:230px;
    margin-top: 20px;
  }

  .subItem{
  	display: none;
  }

  .flexbottom{
      display:flex;
      flex-direction: column;
      float: left;
      width: 98%;
      border-radius: 20px;
      margin: 12px 0;
      padding: 8px;
  }
  .mon{
      width:97%;
      border-radius: 20px;
      padding: 12px;
  }

  .mon
  {
    &:nth-child(even){background-image:radial-gradient(#A901DB 2%,#2A0A22 95%);}
    &:nth-child(odd){background-image:radial-gradient(#A901DB 2%,#2A0A22 95%);}
  }

  .mon
  {
    div{
  	color: #FFF;
    }
  }
  .mon
  {
    div{
      &:first-child{color: blue;}
    }
  }
}
